$abc-color: (
        50 : #f4f9eb,
        100 : #e4f0cd,
        200 : #d2e7ab,
        300 : #bfdd89,
        400 : #b2d570,
        500 : #a4ce57,
        600 : #9cc94f,
        700 : #92c246,
        800 : #89bc3c,
        900 : #78b02c,
        A100 : #f9fff2,
        A200 : #e3ffbf,
        A400 : #ccff8c,
        A700 : #c1ff73,
        contrast: (
                50: $dark-primary-text,
                100: $dark-primary-text,
                200: $dark-primary-text,
                300: $dark-primary-text,
                400: $dark-primary-text,
                500: $light-primary-text,
                600: $light-primary-text,
                700: $light-primary-text,
                800: $light-primary-text,
                900: $light-primary-text,
                A100: $dark-primary-text,
                A200: $light-primary-text,
                A400: $light-primary-text,
                A700: $light-primary-text,
        )
);