<fury-page-layout mode="card">
  <fury-page-layout-header>
    <fury-breadcrumbs [@fadeInRight] current="WhosGoing"></fury-breadcrumbs>
  </fury-page-layout-header>

  <fury-page-layout-content [@fadeInUp]>
    <fury-list [name]="'WhosGoing'" [columns]="columns">
      <div class="actions">
        <button class="create" (click)="createUser()" type="button" mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </fury-list>

  </fury-page-layout-content>
</fury-page-layout>


